In [1]:
import pandas as pd

In [2]:
race = "ShareRaceByCity.csv"
Race = pd.read_csv(race)
Race

FileNotFoundError: [Errno 2] File ShareRaceByCity.csv does not exist: 'ShareRaceByCity.csv'

In [ ]:
poverty = "datasets_2647_4395_PercentagePeopleBelowPovertyLevel.csv"
Poverty = pd.read_csv(poverty)
Poverty

In [6]:
RacePoverity = pd.merge(Race, Poverty, how="left", left_on=["City", "Geographic area"], right_on=["City", "Geographic Area"])
RacePoverity

NameError: name 'Race' is not defined

In [7]:
new = Poverty["City"].str.replace("\scity", "")
Poverty["City"]= new
Poverty

NameError: name 'Poverty' is not defined

In [8]:
DataSet1 = "datasets_2647_4395_PoliceKillingsUS.csv"
DataSet1 = pd.read_csv(DataSet1)
Renamed = DataSet1.rename(columns={"city":"City","state":"State","name":"Victim's name",
                                   "age":"Victim's age", "gender":"Victim's gender","race":"Victim's race"})
Renamed

FileNotFoundError: [Errno 2] File datasets_2647_4395_PoliceKillingsUS.csv does not exist: 'datasets_2647_4395_PoliceKillingsUS.csv'

In [9]:
#Renamed = pd.DataFrame({"Victim's name":[len(Renamed["Victim's name"].unique())]})
#Renamed

In [63]:
DataSet2 = "police_killings_new.csv"
DataSet2 = pd.read_csv(DataSet2)
DataSet2

,Victim's name,Victim's age,Victim's gender,Victim's race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,Eric M. Tellez,28,Male,White,https://fatalencounters.org/wp-content/uploads...,31/12/2019,Broad St.,Globe,AZ,85501.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Name withheld by police,NaN,Male,Unknown race,NaN,31/12/2019,7239-7411 I-40,Memphis,AR,38103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Terry Hudson,57,Male,Black,NaN,31/12/2019,3600 N 24th St,Omaha,NE,68110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Malik Williams,23,Male,Black,NaN,31/12/2019,30800 14th Avenue South,Federal Way,WA,98003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Frederick Perkins,37,Male,Black,NaN,31/12/2019,17057 N Outer 40 Rd,Chesterfield,MO,63005.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
#DataSet2["Victim's age"] = DataSet2["Victim's age"].astype(float)

In [94]:
DataSet2.head()
Renamed.head()

,id,Victim's name,date,manner_of_death,armed,Victim's age,Victim's gender,Victim's race,City,State,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [86]:
CombinedDataSet = pd.merge(DataSet2, Renamed, how="outer", left_on=["Victim's name","City", "State"], 
                           right_on=["Victim's name","City", "State"])
CombinedDataSet

,Victim's name,Victim's age_x,Victim's gender_x,Victim's race_x,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,...,date,manner_of_death,armed,Victim's age_y,Victim's gender_y,Victim's race_y,signs_of_mental_illness,threat_level,flee,body_camera
0,Eric M. Tellez,28,Male,White,https://fatalencounters.org/wp-content/uploads...,31/12/2019,Broad St.,Globe,AZ,85501.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Name withheld by police,NaN,Male,Unknown race,NaN,31/12/2019,7239-7411 I-40,Memphis,AR,38103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Terry Hudson,57,Male,Black,NaN,31/12/2019,3600 N 24th St,Omaha,NE,68110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Malik Williams,23,Male,Black,NaN,31/12/2019,30800 14th Avenue South,Federal Way,WA,98003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Frederick Perkins,37,Male,Black,NaN,31/12/2019,17057 N Outer 40 Rd,Chesterfield,MO,63005.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8965,TK TK,NaN,NaN,NaN,NaN,NaN,NaN,San Antonio,TX,NaN,...,26/07/17,shot,gun,NaN,M,NaN,False,attack,Not fleeing,False
8966,Jerauld Phillip Hammond II,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,CA,NaN,...,27/07/17,shot,gun,46.0,M,NaN,False,other,Not fleeing,False
8967,Matthew Folden,NaN,NaN,NaN,NaN,NaN,NaN,Wenatchee,WA,NaN,...,27/07/17,shot,knife,31.0,M,NaN,False,other,Not fleeing,False
8968,Brian J. Skinner,NaN,NaN,NaN,NaN,NaN,NaN,Glenville,NY,NaN,...,28/07/17,shot,knife,32.0,M,NaN,True,other,Not fleeing,False
8969,TK TK,NaN,NaN,NaN,NaN,NaN,NaN,Albuquerque,NM,NaN,...,28/07/17,shot,vehicle,NaN,M,NaN,False,attack,Car,False

In [110]:
CombinedDataSet.columns

Index(['Victim's name', 'Victim's age_x', 'Victim's gender_x',
       'Victim's race_x', 'URL of image of victim',
       'Date of Incident (month/day/year)', 'Street Address of Incident',
       'City', 'State', 'Zipcode', 'County', 'Agency responsible for death',
       'Cause of death',
       'A brief description of the circumstances surrounding the death',
       'Official disposition of death (justified or other)',
       'Criminal Charges?',
       'Link to news article or photo of official document',
       'Symptoms of mental illness?', 'Unarmed',
       'Alleged Weapon (Source: WaPo)', 'Alleged Threat Level (Source: WaPo)',
       'Fleeing (Source: WaPo)', 'Body Camera (Source: WaPo)',
       'WaPo ID (If included in WaPo database)', 'Off-Duty Killing?',
       'Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx )',
       'ID', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42',
       'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
       'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
       'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
       'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58',
       'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62',
       'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'id', 'date',
       'manner_of_death', 'armed', 'Victim's age_y', 'Victim's gender_y',
       'Victim's race_y', 'signs_of_mental_illness', 'threat_level', 'flee',
       'body_camera'],
      dtype='object')

In [99]:
UniqueNames_df = pd.DataFrame({"Victim's name":[len(CombinedDataSet["Victim's name"].unique())]})
UniqueNames_df

   Victim's name
0           8145

In [1]:
CombinedDataSet = CombinedDataSet[["Victim's Name","Victim's age_x"]]
CombinedDataSet

NameError: name 'CombinedDataSet' is not defined