In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [17]:
DataSet1 = "datasets_2647_4395_PoliceKillingsUS.csv"
DataSet1 = pd.read_csv(DataSet1)
Renamed = DataSet1.rename(columns={"city":"City","state":"State"})
Renamed.count()

id                         2535
name                       2535
date                       2535
manner_of_death            2535
armed                      2526
age                        2458
gender                     2535
race                       2340
City                       2535
State                      2535
signs_of_mental_illness    2535
threat_level               2535
flee                       2470
body_camera                2535
dtype: int64

In [18]:
DataSet2 = "police_killings_new.csv"
DataSet2 = pd.read_csv(DataSet2)
DataSet2.count()

Victim's name             7663
Victim's age              7596
Victim's gender           7655
Victim's race             7663
URL of image of victim    4200
                          ...
Unnamed: 61                  0
Unnamed: 62                  0
Unnamed: 63                  0
Unnamed: 64                  0
Unnamed: 65                  0
Length: 66, dtype: int64

In [34]:
CombinedDataSet = pd.merge(DataSet2, Renamed, how="left", on=["City", "State"])
CombinedDataSet.count()

Victim's name              34536
Victim's age               34232
Victim's gender            34533
Victim's race              34536
URL of image of victim     17274
                           ...
race                       32461
signs_of_mental_illness    34788
threat_level               34788
flee                       33834
body_camera                34788
Length: 78, dtype: int64

In [27]:
Remove_NA = Renamed.dropna(how='all')
Remove_NA

,id,name,date,manner_of_death,armed,age,gender,race,City,State,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,2822,Rodney E. Jacobs,28/07/17,shot,gun,31.0,M,NaN,Kansas City,MO,False,attack,Not fleeing,False
2531,2813,TK TK,28/07/17,shot,vehicle,NaN,M,NaN,Albuquerque,NM,False,attack,Car,False
2532,2818,Dennis W. Robinson,29/07/17,shot,gun,48.0,M,NaN,Melba,ID,False,attack,Car,False
2533,2817,Isaiah Tucker,31/07/17,shot,vehicle,28.0,M,B,Oshkosh,WI,False,attack,Car,True
2534,2815,Dwayne Jeune,31/07/17,shot,knife,32.0,M,B,Brooklyn,NY,True,attack,Not fleeing,False

In [25]:
Victims_race = Remove_NA.groupby(["Victim's race"])
Victims_race = Victims_race.count()
Victims_race_count = Victims_race.rename(columns={"Victim's name": "Victims Count"})
Victims_race_count

,Victims Count,Victim's age,Victim's gender,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,County,...,date,manner_of_death,armed,age,gender,race,signs_of_mental_illness,threat_level,flee,body_camera
Victim's race,,,,,,,,,,,,,,,,,,,,,
Asian,613,613,613,278,613,612,613,613,607,613,...,588,588,588,550,588,548,588,588,570,588
Black,12081,12068,12080,7227,12081,12064,12081,12081,11973,12071,...,11580,11580,11564,11261,11580,10991,11580,11580,11248,11580
Hispanic,10079,9999,10077,4140,10079,10051,10077,10079,10034,10079,...,9785,9785,9754,9306,9785,9020,9785,9785,9524,9785
Native American,402,401,401,253,402,392,402,402,399,401,...,356,356,356,345,356,320,356,356,352,356
Pacific Islander,124,124,124,87,124,124,124,124,124,124,...,108,108,108,105,108,101,108,108,106,108
Unknown Race,225,225,225,0,225,224,225,225,225,225,...,200,200,200,190,200,174,200,200,194,200
Unknown race,2775,2563,2773,7,2775,2758,2774,2775,2765,2768,...,2443,2443,2440,2342,2443,2252,2443,2443,2359,2443
White,10890,10859,10887,6731,10890,10846,10887,10890,10853,10884,...,9476,9476,9454,9138,9476,8821,9476,9476,9236,9476

In [ ]:
#create a new DF with count only